In [40]:
import pandas as pd
#1 获取数据
data = pd.read_csv("/Users/shenzongqi/Desktop/PythonProject/Project/Self_Learning/HM_Machine-Learning-Codes/2.分类算法/KNN/facebook-v-predicting-check-ins/train.csv")
data

            row_id       x       y  accuracy    time    place_id
0                0  0.7941  9.0809        54  470702  8523065625
1                1  5.9567  4.7968        13  186555  1757726713
2                2  8.3078  7.0407        74  322648  1137537235
3                3  7.3665  2.5165        65  704587  6567393236
4                4  4.0961  1.1307        31  472130  7440663949
...            ...     ...     ...       ...     ...         ...
29118016  29118016  6.5133  1.1435        67  399740  8671361106
29118017  29118017  5.9186  4.4134        67  125480  9077887898
29118018  29118018  2.9993  6.3680        67  737758  2838334300
29118019  29118019  4.0637  8.0061        70  764975  1007355847
29118020  29118020  7.4523  2.0871        17  102842  7028698129

[29118021 rows x 6 columns]

In [41]:
# 2.数据处理
# 1)数据逻辑筛选操作 df.query()
data = data.query("x < 2.5 & x > 2 & y < 1.5 & y > 1.0")
data.to_csv("train_2.csv",index=False)
data.head()

      row_id       x       y  accuracy    time    place_id
112      112  2.2360  1.3655        66  623174  7663031065
180      180  2.2003  1.2541        65  610195  2358558474
367      367  2.4108  1.3213        74  579667  6644108708
874      874  2.0822  1.1973       320  143566  3229876087
1022    1022  2.0160  1.1659        65  207993  3244363975

In [42]:
# 读取少选过后的csv
import pandas as pd
data = pd.read_csv("train_2.csv")
data

         row_id       x       y  accuracy    time    place_id
0           112  2.2360  1.3655        66  623174  7663031065
1           180  2.2003  1.2541        65  610195  2358558474
2           367  2.4108  1.3213        74  579667  6644108708
3           874  2.0822  1.1973       320  143566  3229876087
4          1022  2.0160  1.1659        65  207993  3244363975
...         ...     ...     ...       ...     ...         ...
83192  29115112  2.1889  1.2914       168  721885  4606837364
83193  29115204  2.1193  1.4692        58  563389  2074133146
83194  29115338  2.0007  1.4852        25  765986  6691588909
83195  29115464  2.4132  1.4237        61  151918  7396159924
83196  29117493  2.2948  1.0504        81   79569  1168869217

[83197 rows x 6 columns]

In [43]:
# 2)处理时间特征
time_value = pd.to_datetime(data["time"], unit="s")
date = pd.DatetimeIndex(time_value)
date

DatetimeIndex(['1970-01-08 05:06:14', '1970-01-08 01:29:55',
               '1970-01-07 17:01:07', '1970-01-02 15:52:46',
               '1970-01-03 09:46:33', '1970-01-06 19:49:38',
               '1970-01-06 13:33:24', '1970-01-02 22:49:55',
               '1970-01-04 14:30:10', '1970-01-07 16:57:44',
               ...
               '1970-01-02 09:24:50', '1970-01-01 10:29:34',
               '1970-01-09 11:38:46', '1970-01-02 03:42:14',
               '1970-01-04 22:02:44', '1970-01-09 08:31:25',
               '1970-01-07 12:29:49', '1970-01-09 20:46:26',
               '1970-01-02 18:11:58', '1970-01-01 22:06:09'],
              dtype='datetime64[ns]', name='time', length=83197, freq=None)

In [44]:
data["day"] = date.day
data["weekday"] = date.weekday
data["hour"] = date.hour
data.head()

   row_id       x       y  accuracy    time    place_id  day  weekday  hour
0     112  2.2360  1.3655        66  623174  7663031065    8        3     5
1     180  2.2003  1.2541        65  610195  2358558474    8        3     1
2     367  2.4108  1.3213        74  579667  6644108708    7        2    17
3     874  2.0822  1.1973       320  143566  3229876087    2        4    15
4    1022  2.0160  1.1659        65  207993  3244363975    3        5     9

In [45]:
#3）过滤签到次数少的地点
place_count = data.groupby("place_id").count()["row_id"]
place_count

place_id
1012165853     1
1013991737     3
1014605271    28
1015645743     4
1017236154    31
              ..
9988815170     1
9992113332     1
9993074125     2
9994257798    25
9996671132    18
Name: row_id, Length: 2514, dtype: int64

In [46]:
place_count[place_count>3]

place_id
1014605271     28
1015645743      4
1017236154     31
1024951487      5
1028119817      4
             ...
9936666116    140
9954155328      8
9980625005     16
9994257798     25
9996671132     18
Name: row_id, Length: 950, dtype: int64

In [39]:
place_count[place_count>3].index.values

array([1014605271, 1015645743, 1017236154, 1024951487, 1028119817,
       1031277804, 1033901110, 1034200626, 1047804897, 1064433118,
       1077244172, 1082319594, 1113063429, 1136965912, 1140094746,
       1152474121, 1168869217, 1188605085, 1200418561, 1209729910,
       1214974606, 1219514528, 1224473281, 1237461560, 1254294119,
       1272823671, 1291402142, 1301102957, 1307723985, 1309512563,
       1314542379, 1321295503, 1326517230, 1327075245, 1339666015,
       1341745891, 1344594346, 1376204664, 1376745845, 1380291167,
       1385100836, 1395411566, 1397435709, 1425344847, 1430541006,
       1430872593, 1450678395, 1450922788, 1456201867, 1465048096,
       1465956877, 1470112415, 1479866897, 1481294899, 1496485145,
       1509463616, 1514759428, 1515664017, 1525784324, 1533408099,
       1536494374, 1540382716, 1553974810, 1564838354, 1577178217,
       1580704783, 1591245298, 1598721971, 1608186657, 1612001894,
       1644280884, 1653222405, 1656255553, 1658077953, 1663763627,
       1728965731, 1729169622, 1732563460, 1774462085, 1778906774,
       1779583116, 1782331806, 1804356958, 1804841714, 1808200839,
       1816256478, 1816297920, 1827155686, 1832821100, 1841689795,
       1851659536, 1853388867, 1876216216, 1893125756, 1898134338,
       1905620584, 1907932368, 1912601713, 1920165196, 1922247419,
       1925338880, 1935182397, 1949544719, 1971715162, 1972522398,
       1975319402, 1978598046, 1985125281, 2019786487, 2021324804,
       2049043795, 2063144012, 2070189162, 2074133146, 2074933811,
       2077754908, 2079334574, 2082127512, 2094012356, 2112291371,
       2118263613, 2128251934, 2137941546, 2142029481, 2143257457,
       2164082478, 2178744887, 2182064004, 2186466991, 2187764354,
       2189696929, 2209293971, 2215487099, 2225812517, 2227263906,
       2234759123, 2249890810, 2252960078, 2265547003, 2267927400,
       2284522844, 2285334931, 2296879735, 2336355755, 2337327232,
       2337680907, 2343525997, 2353037541, 2361723238, 2365554386,
       2367979052, 2390874820, 2399698286, 2402431155, 2418019536,
       2421942320, 2436295831, 2442573265, 2446061709, 2448856538,
       2467497959, 2469718610, 2471811203, 2490012408, 2494678001,
       2509270656, 2517696955, 2543504359, 2547202612, 2552774242,
       2571962720, 2579101997, 2585551753, 2589782008, 2598654991,
       2603478851, 2607294907, 2609133630, 2614390775, 2629738722,
       2678634106, 2696536813, 2701619073, 2703428730, 2721665730,
       2725217975, 2739683636, 2770565993, 2771234134, 2809108094,
       2833935167, 2841383164, 2852927300, 2855197353, 2859614555,
       2862182730, 2907690106, 2908755052, 2911888353, 2922682614,
       2935504324, 2953090005, 2973449762, 2983539791, 2998156180,
       3002774559, 3008083988, 3017445792, 3020291657, 3024205669,
       3028540811, 3040493418, 3047002443, 3054485805, 3061996897,
       3064869715, 3069630737, 3070110915, 3074081421, 3076556383,
       3079882839, 3085069313, 3086382532, 3098130329, 3102652148,
       3109132734, 3109294282, 3127147709, 3129827909, 3130287982,
       3135205757, 3140269934, 3157530019, 3159625666, 3163226764,
       3177384238, 3178442473, 3178785922, 3190058760, 3191658398,
       3196019344, 3200211486, 3218914434, 3229876087, 3239554580,
       3244363975, 3250088768, 3274022507, 3275384527, 3284527897,
       3284707339, 3295156450, 3297144794, 3299486624, 3311763279,
       3319589754, 3330035982, 3348890121, 3372644959, 3380753307,
       3383234785, 3399185620, 3400986350, 3411026024, 3418940381,
       3422562397, 3428712369, 3437922178, 3439753948, 3465711565,
       3469606315, 3472389804, 3479790549, 3505302090, 3506473632,
       3512061568, 3513732261, 3545381411, 3571001376, 3584688621,
       3588028567, 3596456849, 3601994721, 3614695108, 3617419118,
       3621522584, 3657826277, 3683690538, 3685505109, 3695846783,
       3708108530, 3716894098, 3720971101, 3726448464, 3740447345,
       3750280925, 3763725275, 3770354919, 3780913846, 3806579623,
       3818470689, 3828550150, 3849705667, 3862411642, 3885774737,
       3890745578, 3899542804, 3910675283, 3920358024, 3925693977,
       3944091515, 3948427562, 3953687520, 3957074867, 3973396876,
       3974542317, 3974879558, 3981920612, 3990227043, 3996582184,
       3997372701, 4011083602, 4020469575, 4028357018, 4033454985,
       4041053840, 4043708399, 4046838937, 4074168625, 4086821630,
       4110044452, 4115089395, 4130315759, 4135085103, 4136606730,
       4142372393, 4143194894, 4153178880, 4168031615, 4168344608,
       4179997917, 4182637650, 4205973840, 4208927963, 4231692509,
       4233534513, 4235083075, 4252917623, 4255947450, 4270403095,
       4279990043, 4280735325, 4300993639, 4305979959, 4312177364,
       4313071645, 4319030337, 4321343495, 4325915199, 4330659730,
       4336717042, 4338887860, 4342341757, 4352103532, 4355311753,
       4362372846, 4364266576, 4374582281, 4375197092, 4386750363,
       4411451674, 4435141062, 4453269982, 4465359515, 4466033869,
       4474172701, 4477046697, 4480126571, 4509077495, 4519537359,
       4537717910, 4540674401, 4568745791, 4588090734, 4588585980,
       4592873010, 4596764630, 4604987846, 4606837364, 4611031929,
       4616184605, 4626375496, 4628671813, 4637897379, 4642646293,
       4646500666, 4650375348, 4659529541, 4684865650, 4687359525,
       4690391147, 4691678575, 4712992402, 4729896908, 4743263462,
       4745011268, 4747728496, 4785379926, 4785459577, 4790376037,
       4826909476, 4827648144, 4851449266, 4858220593, 4861093827,
       4868301943, 4899905409, 4903903352, 4909747086, 4921814476,
       4923081565, 4932204178, 4942920006, 4951395211, 4958724870,
       4984046094, 5024378625, 5032873263, 5033348570, 5035626753,
       5048523503, 5063967094, 5070572655, 5103329101, 5108076746,
       5111412226, 5140020312, 5151728394, 5156008172, 5166481224,
       5168150158, 5174383951, 5175533342, 5201183823, 5205288357,
       5210119215, 5225258104, 5230843556, 5231167070, 5232128865,
       5241319741, 5249522175, 5256855055, 5263230464, 5271646232,
       5278769116, 5292545375, 5301169969, 5304570159, 5307188070,
       5313490064, 5334589752, 5335193549, 5347394174, 5365638185,
       5381959059, 5399802683, 5422010056, 5442484608, 5448001036,
       5463919377, 5470430723, 5484006387, 5518252170, 5529091830,
       5534405469, 5541564636, 5545192959, 5548649743, 5562621598,
       5575657508, 5600621154, 5600661085, 5602148455, 5617987948,
       5628219504, 5632997879, 5661461383, 5663422179, 5666273115,
       5675044797, 5675632737, 5677730000, 5681081996, 5698450527,
       5720855360, 5720905377, 5723607000, 5725334534, 5733965825,
       5750069581, 5753687259, 5759149180, 5781604363, 5787101027,
       5790926225, 5801995519, 5804926665, 5805133287, 5828455274,
       5830680661, 5846152236, 5851101680, 5880575182, 5886265369,
       5887940395, 5894825633, 5895261094, 5906186883, 5911282299,
       5911919827, 5922348998, 5927352177, 5927439597, 5940355445,
       5943393344, 5967730040, 5987080380, 5991509451, 5992403068,
       5994272829, 6009964550, 6010023939, 6035494832, 6054985864,
       6086844830, 6090644375, 6093897542, 6098188472, 6099835393,
       6137293102, 6171384989, 6171758350, 6173243423, 6204570778,
       6215057357, 6220616924, 6237820588, 6246622940, 6281129257,
       6282451574, 6293863303, 6325689868, 6351740191, 6358870572,
       6362865773, 6389656261, 6396456065, 6396652784, 6409650791,
       6412642774, 6425377835, 6434867192, 6436004735, 6438240873,
       6466855273, 6472715293, 6474510758, 6492209794, 6492595846,
       6505686905, 6508719641, 6523393631, 6544050598, 6563939569,
       6586498320, 6603051644, 6603241131, 6603334577, 6607183169,
       6635710657, 6640228998, 6644108708, 6668865877, 6676797724,
       6678141805, 6691588909, 6695565896, 6706708436, 6707546857,
       6709409787, 6724069809, 6743286931, 6744826890, 6760801071,
       6781827422, 6784598378, 6787040850, 6792824264, 6796340133,
       6806245681, 6807855511, 6815757076, 6821736606, 6826275134,
       6828787147, 6832517871, 6840596147, 6854303457, 6861039185,
       6873618335, 6896906036, 6906896116, 6906932765, 6929893314,
       6933719947, 6936126097, 6936999642, 6940115252, 6946923989,
       6948240353, 6958981337, 6977124218, 6977661807, 6987169047,
       7004204555, 7013193650, 7021063988, 7021663947, 7038685199,
       7045241279, 7075009705, 7086049158, 7091834657, 7097086698,
       7098931703, 7101912369, 7102003628, 7102786166, 7106739655,
       7119605651, 7122749204, 7129141602, 7164783554, 7175511695,
       7187928007, 7199420770, 7199742742, 7206831940, 7230752373,
       7231372582, 7240847236, 7251570583, 7259555507, 7260420984,
       7271890354, 7278590122, 7283077700, 7290620574, 7307880590,
       7312165178, 7312457461, 7321027492, 7323905251, 7336437364,
       7351908699, 7388522959, 7394650784, 7396159924, 7401539301,
       7406674639, 7422349449, 7444820426, 7446864418, 7463831010,
       7475986367, 7488300618, 7503509440, 7506114387, 7516501787,
       7518431751, 7547051259, 7577024623, 7583845844, 7588940374,
       7600299291, 7601718012, 7605688218, 7623892973, 7637611146,
       7641853115, 7644714882, 7652380351, 7663031065, 7671042055,
       7691564786, 7694823885, 7698840696, 7706750031, 7732742644,
       7736616367, 7743817329, 7749287599, 7753303265, 7754306468,
       7758967501, 7778288534, 7788479474, 7789869701, 7810150060,
       7824785536, 7829825858, 7834777560, 7849151474, 7858349652,
       7871954785, 7881325998, 7893158634, 7896098190, 7897512793,
       7900103077, 7908228637, 7920779710, 7924582970, 7929669489,
       7930512621, 7942373049, 7954125509, 7958850057, 7968049891,
       8010452641, 8012439510, 8032468532, 8051485477, 8053972671,
       8066054138, 8072176981, 8074414179, 8076001163, 8087986750,
       8095297494, 8098311768, 8099882727, 8103343544, 8106965613,
       8116017482, 8126951608, 8136393692, 8136471735, 8150384369,
       8156816094, 8158973166, 8207498185, 8220325694, 8232500214,
       8238808750, 8258289243, 8266187584, 8266588250, 8286292454,
       8312320519, 8325943786, 8330394035, 8334082176, 8344438103,
       8349127254, 8379994288, 8384035465, 8393706174, 8393968110,
       8396039622, 8398625073, 8415851335, 8416509869, 8426896578,
       8490830231, 8491961915, 8494434762, 8505496580, 8506362988,
       8517315303, 8524277388, 8525624794, 8568187002, 8580923167,
       8584340107, 8591018712, 8595964406, 8601126344, 8630350557,
       8632201887, 8635090679, 8644581555, 8648795085, 8651518182,
       8653170713, 8655245424, 8663805781, 8665729180, 8670584806,
       8671246084, 8677621908, 8679966649, 8687427396, 8687844587,
       8710295202, 8711845565, 8712075001, 8720473009, 8725643775,
       8734074997, 8783929518, 8790355618, 8795513764, 8795956344,
       8811306760, 8812115701, 8829076565, 8831215876, 8833193339,
       8841908386, 8855524093, 8862329731, 8884327801, 8904074677,
       8904900131, 8923507937, 8923755712, 8936085695, 8940024726,
       8948525751, 8966139503, 8966637137, 8968348841, 8972450409,
       9003284780, 9017925094, 9028649284, 9046997965, 9060493227,
       9060931313, 9063028753, 9067638706, 9077695048, 9081742495,
       9083536463, 9110155624, 9131412124, 9144333839, 9185047092,
       9198458885, 9205242790, 9215150141, 9230765433, 9243748395,
       9248210115, 9254334334, 9262433179, 9278137669, 9287636718,
       9290415513, 9298467682, 9302738671, 9303466586, 9309341993,
       9325599141, 9327341696, 9328674038, 9333530674, 9342460220,
       9346991997, 9348286122, 9351469921, 9356222555, 9364592521,
       9365003624, 9373984994, 9380007667, 9383906351, 9386144778,
       9388356666, 9397045358, 9434098736, 9434111026, 9434703503,
       9474162554, 9487489239, 9491838696, 9496466179, 9496768941,
       9510780562, 9512310615, 9520169143, 9521984363, 9536397570,
       9546022315, 9571332469, 9573801864, 9602339655, 9605243128,
       9611452503, 9615994461, 9617244307, 9622620270, 9639680342,
       9649308625, 9651995945, 9657333059, 9658055450, 9659178432,
       9664549861, 9669197376, 9695411083, 9700386405, 9704430721,
       9710325442, 9745175640, 9756750564, 9757544444, 9759119917,
       9764078387, 9765566432, 9773056775, 9778673479, 9779526392,
       9779595137, 9787150114, 9793752815, 9817378802, 9817571734,
       9824924162, 9841635233, 9846189806, 9848489870, 9853786982,
       9864168878, 9864693439, 9877150135, 9877176124, 9890631008,
       9897639927, 9904847340, 9913438709, 9929729717, 9935755425,
       9936666116, 9954155328, 9980625005, 9994257798, 9996671132])

In [47]:
place_g3 = data["place_id"].isin(place_count[place_count>3].index.values)
place_g3

0         True
1        False
2         True
3         True
4         True
         ...
83192     True
83193     True
83194     True
83195     True
83196     True
Name: place_id, Length: 83197, dtype: bool

In [49]:
data_final = data[place_g3]
data_final
#至此完成第二部分数据处理

,row_id,x,y,accuracy,time,place_id,day,weekday,hour
0,112,2.2360,1.3655,66,623174,7663031065,8,3,5
2,367,2.4108,1.3213,74,579667,6644108708,7,2,17
3,874,2.0822,1.1973,320,143566,3229876087,2,4,15
4,1022,2.0160,1.1659,65,207993,3244363975,3,5,9
5,1045,2.3859,1.1660,498,503378,6438240873,6,1,19
...,...,...,...,...,...,...,...,...,...
83192,29115112,2.1889,1.2914,168,721885,4606837364,9,4,8
83193,29115204,2.1193,1.4692,58,563389,2074133146,7,2,12
83194,29115338,2.0007,1.4852,25,765986,6691588909,9,4,20
83195,29115464,2.4132,1.4237,61,151918,7396159924,2,4,18
83196,29117493,2.2948,1.0504,81,79569,1168869217,1,3,22

In [50]:
# 筛选特征值和目标值
x = data_final[["x","y","accuracy","day","weekday","hour"]]
x

            x       y  accuracy  day  weekday  hour
0      2.2360  1.3655        66    8        3     5
2      2.4108  1.3213        74    7        2    17
3      2.0822  1.1973       320    2        4    15
4      2.0160  1.1659        65    3        5     9
5      2.3859  1.1660       498    6        1    19
...       ...     ...       ...  ...      ...   ...
83192  2.1889  1.2914       168    9        4     8
83193  2.1193  1.4692        58    7        2    12
83194  2.0007  1.4852        25    9        4    20
83195  2.4132  1.4237        61    2        4    18
83196  2.2948  1.0504        81    1        3    22

[80910 rows x 6 columns]

In [51]:
y = data_final["place_id"]
y

0        7663031065
2        6644108708
3        3229876087
4        3244363975
5        6438240873
            ...
83192    4606837364
83193    2074133146
83194    6691588909
83195    7396159924
83196    1168869217
Name: place_id, Length: 80910, dtype: int64

In [54]:
# 数据集划分
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, plot_roc_curve
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#x_train, x_test, y_train, y_test = train_test_split(x,y)

In [53]:
x_train

            x       y  accuracy  day  weekday  hour
30810  2.2690  1.2522       106    2        4     1
35442  2.4880  1.2920        16    3        5     7
54088  2.3325  1.2589       239    8        3    16
78534  2.3408  1.0577         8    3        5     9
69643  2.2115  1.1774        30    6        1    21
...       ...     ...       ...  ...      ...   ...
4436   2.1738  1.3112        55    1        3    21
70056  2.2693  1.2715        56    1        3    11
70451  2.2905  1.0608        18    8        3     1
57336  2.2210  1.2351         2    1        3    12
34635  2.2269  1.3533        59    5        0    14

[60682 rows x 6 columns]

In [68]:
def knn_facebook():
    """
    用KNN算法
    """
    #1:获取数据

    #2:分类训练测试集
    X_train, X_test, y_train, y_test = train_test_split(x,y)

    #3.标准化
    transfer = StandardScaler()
    X_train = transfer.fit_transform(X_train)
    X_test = transfer.transform(X_test)

    #4:分类评估器
    neigh = KNeighborsClassifier()
    #加入网格搜索与交叉验证
    #参数准备
    para_dict = {"n_neighbors": [3,5,7,9]}
    neigh = GridSearchCV(neigh, para_dict, cv = 3)
    neigh.fit(X_train,y_train)
    predicted = neigh.predict(X_test)

    #5:模型评估
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    print("Directly compare: \n", y_test == predicted)
    score = neigh.score(X_test, y_test)
    print("准确率为：\n", score)

    #6:
    #最佳参数：best_params
    print("最佳参数\n", neigh.best_params_)
    #最佳结果: best_score_
    print("最佳结果\n", neigh.best_score_)
    #最佳估计器
    print("最佳估计器\n", neigh.best_estimator_)
    #交叉验证结果: cv_results_
    print("交叉验证结果\n", neigh.cv_results_)

In [69]:
knn_facebook()

/Users/shenzongqi/opt/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(

accuracy_score:
 0.3611330828554479
Directly compare:
 18006     True
39285    False
50920    False
47839    False
39705    False
         ...
58797     True
2716      True
56291    False
27270     True
12926    False
Name: place_id, Length: 20228, dtype: bool
准确率为：
 0.3611330828554479
最佳参数
 {'n_neighbors': 5}
最佳结果
 0.3351570291195329
最佳估计器
 KNeighborsClassifier()
交叉验证结果
 {'mean_fit_time': array([0.02400263, 0.02446429, 0.02501909, 0.02405047]), 'std_fit_time': array([0.0001135 , 0.00024627, 0.00100024, 0.00016106]), 'mean_score_time': array([0.48690406, 0.51945774, 0.55855497, 0.57354673]), 'std_score_time': array([0.00691578, 0.00248149, 0.01043296, 0.00051394]), 'param_n_neighbors': masked_array(data=[3, 5, 7, 9],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 3}, {'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}], 'split0_test_score': array([0.32000198, 0.336316  , 0.33458572, 0.32899941]), 'split1_test_score': array([0.32046275, 0.33786523, 0.33440451, 0.33084491]), 'split2_test_score': array([0.3224403 , 0.33128986, 0.33272359, 0.33173481]), 'mean_test_score': array([0.32096834, 0.33515703, 0.33390461, 0.33052638]), 'std_test_score': array([0.00105769, 0.00280669, 0.00083838, 0.00113921]), 'rank_test_score': array([4, 1, 2, 3], dtype=int32)}